.card-title {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.card {
  box-shadow: 0px 14px 24px rgba(7, 28, 64, 0.06);
  border-radius: 10px;
  border:none;
  padding:25px;

  .form-control {
    margin-bottom: 5px;
  }

  &.bg-info {
    color:white !important;
  }

  .card-img-top {
    margin-bottom:20px;
  }

  .card-header {
    font-family: $secondary-font;
    letter-spacing: 0.1rem;
    font-weight:500;
    font-size:1.2rem;
    margin-bottom:20px;
    background: none;
    padding: 0 0 15px;
  }

  .card-title {
    font-family: $secondary-font;
    letter-spacing: 0.1rem;
    font-weight:500;
    font-size: 1.2rem;
    margin-bottom: 15px;
  }

  .card-body {
    padding: 0;
    font-size: 0.9rem;
  }

  &.bg-dark, &.bg-info, &.bg-danger, &.bg-success, &.bg-secondary, &.bg-primary, &.bg-warning {
    .card-header {
      border-bottom:1px solid white;
    }
  }

  .card-footer {
    background:none;
    margin-top:20px;
    padding: 20px 0 0 0;
  }

  .fa-check-circle {
    margin-right:6px;
  }

  &.alert-danger {
    color: initial;

    .fa-check-circle {
      color:$red;
    }

  }

}

.panel {

  &.alert-success {
    background:white;
    color:$black;
  }

  h4 {
    font-size: 0.95rem;
  }

}

.panel-heading {
  font-family: $secondary-font;
  letter-spacing: 0.1rem;
  font-weight:500;
  font-size:0.95rem;
}

.panel-body {
  font-size: 0.9rem;

  label {
    display: block;
    margin-top: 10px;
  }

  .content-label {
    display: block;
  }

  a {
    color:$pink;

    &.btn-success {
      color:white;
    }
  }


}
