.list-group-item {
  padding: 0.75rem 1rem;
  border: none;
  border-bottom:1px solid #ccc;

  &:last-child {
    border-bottom:none;
  }
}

.list-group-horizontal,.list-group-horizontal-sm,.list-group-horizontal-md,.list-group-horizontal-lg,.list-group-horizontal-xl {

  .list-group-item {

    &:last-child {
      border-bottom:1px solid #ccc;
    }

  }

}
