.modal {
  z-index: 1000000;
}

.modal-content {
  border-radius: 6px;
}

.modal-body {
  padding: 30px !important;
}

.modal-title {
  font-family: $secondary-font;
  letter-spacing: 0.1rem;
  font-weight:600;
  font-size: 1.5rem;
}

.modal-content {
  border: none;
}

.modal-header {
  background: none;
  border: none;
  padding: 30px 30px 0 30px;
}

.modal-content {

  .card {
    padding: 0;
    box-shadow: none;
  }

}

.modal.fade {
  transition: none;
}

.modal.left .modal-dialog,
.modal.right .modal-dialog {
  position: fixed;
  margin: auto;
  width: 100%;
  height: 100% !important;
  -webkit-transform: translate3d(0%, 0, 0);
      -ms-transform: translate3d(0%, 0, 0);
       -o-transform: translate3d(0%, 0, 0);
          transform: translate3d(0%, 0, 0);

  @include media-breakpoint-up(md) {
    width: 40vw;
    max-width:40vw;
  }

  .row {
    width: 100%;
    margin: 0;
  }

  .form-group {
     margin: 20px 0;
  }

  .card .form-control {
    margin-bottom: 0px;
  }

}

.modal.left .modal-content,
.modal.right .modal-content {
  height: 100%;
  overflow-y: auto;
  scrollbar-width: thin;
  border-radius: 0;
}

.modal.left .modal-body,
.modal.right .modal-body {
  padding: 30px 30px 80px;
}

/*Left*/
.modal.left.fade .modal-dialog{
  left: -100%;
  -webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
       -o-transition: opacity 0.3s linear, left 0.3s ease-out;
          transition: opacity 0.3s linear, left 0.3s ease-out;

          @include media-breakpoint-up(md) {
            left: -40vw;
          }
}

.modal.left.fade.show .modal-dialog{
  left: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
  right: -100%;
  -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
     -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
       -o-transition: opacity 0.3s linear, right 0.3s ease-out;
          transition: opacity 0.3s linear, right 0.3s ease-out;

          @include media-breakpoint-up(md) {
            right: -40vw;
          }
}

.modal.right.fade.show .modal-dialog {
  right: 0;
}

.modal {

  .bi-exclamation-circle {
    font-size: 3rem;
  }

}
