.nav-tabs {
  border-bottom: none;

  .nav-item {
    margin-right:25px;
    margin-bottom: 25px;

    &:last-child {
      margin-right:0;
    }

  }

  .nav-link {
    font-family: $secondary-font;
    letter-spacing: 0.1rem;
    font-weight:500;
    font-size:0.95rem;
    color: $black;
    opacity:0.5;
    position: relative;
    background: none;
    border:none;
    padding:0;

    &:last-child {
      margin-right:0;
    }


    &:hover,
    &:focus {
      background: none;
      border:none;
      // Prevents active .nav-link tab overlapping focus outline of previous/next .nav-link
      isolation: isolate;
    }

    &.disabled {
      color: $nav-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $black;
    background: none;
    border-color: $pink;
    opacity:1;

    &:after {
      content:'';
      display: block;
      width:100%;
      height:1px;
      background:$pink;
      position: absolute;
      bottom:-10px;
      left:0;
    }

  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}
