.nav {

  .nav-item {
    font-family: $secondary-font;
    letter-spacing: 0.1rem;
    font-weight:500;
    color: $black;
    position: relative;
    background: none;
    border:none;
    padding:0;
  }

}

.nav-pills {

  .nav-link {
    border-radius: 20px;
  }

}
