.pagination {
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;

  .page-item {
    margin: 0 4px;

    .page-link {
      padding: 6px 15px;
      border-radius: 40px;
      font-family: $secondary-font;
      letter-spacing: 0.1rem;
      font-weight:500;
      color: $black;
    }

    &.active {

      .page-link {
        color:white;
      }

    }

  }

}

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 6px 15px;
  border-radius: 40px;
  font-family: $secondary-font;
  letter-spacing: 0.1rem;
  font-weight:500;
  color: $black;
  border:1px solid #ccc;
  margin:5px;

  &.current {
    background:$pink;
    color:white !important;
    border:none !important;
  }

}
