/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: rgba(0,0,0,0.3);
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 7px;
  height:7px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(0,0,0,0.3);    /* color of the scroll thumb */
  border-radius: 20px;       /* roundness of the scroll thumb */
  border: none;  /* creates padding around scroll thumb */
}


.message-scroll {
  overflow: auto;
}
