.spinner-con {
  display: none;
  position: fixed;
  top:0%;
  left:0%;
  width:100%;
  height:100%;
  z-index: 9999;
  // background-color:rgba(255,255,255,0.5);
  // opacity:1;
  text-align: center;

  // .btn {
  //   opacity: 1;
  // }

}

.spinner-center {
  margin:0;
  position: absolute;
  top:50%;
  left:50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
