.form-control {
  border-radius: 6px;
}

.form-select {
  border-radius: 6px;
}

.form-label {
  font-weight: 500;
}

.control-label {
  margin-bottom: 15px !important;
}

.custom-select {
  border-radius:4px;
  background: white;
}

.form-control.custom-select {
  background: white;
}

.input-group.date {
  position: relative;

  .input-group-append {
    display: none;
  }

  input {
    border-radius:6px !important;
    padding-right: 40px;
  }

  &:after {
    content:'';
    display: block;
    width: 15px;
    height: 15px;
    @include background-vector(calendar, contain);
    position: absolute;
    right: 12px;
    top: 12px;
    z-index: 10;
  }

}

.ui-datepicker .ui-datepicker-header {
  border: none;
  background: white;
}

.ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
  @include background-vector(icon_triangle, contain);
  background-position: center;
}

.ui-datepicker-calendar {

  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background: #ffffff !important;
  }

}



.ui-datepicker .ui-datepicker-next span {
  transform: rotate(180deg);
}

body {

  .ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
    font-family: $primary-font;
    font-size: 0.95rem;
  }

  .ui-widget {
    font-family: $primary-font;
    font-size: 0.95rem;
  }

}
