#content.login {
	background-size:cover;
	background-position: bottom;
	color:white;

	p {
		font-size:0.9rem;
	}

	.forgot {
		color:White;
		text-decoration: none;
	}

	#no-account {
		display: block;
		border-top: 1px solid rgba(255,255,255,0.3);
		border-bottom: 1px solid rgba(255,255,255,0.3);
		padding:30px 0;

		h4 {
			font-size:1rem;
		}

		span {
			a {
				text-decoration: none;
			}
		}
	}

}
