// Remove

html {
	&.fix {
		overflow:hidden;
	}
}
body {
	background-color:#F0F2F7;
	font-family: $primary-font;
}


.page-wrapper {
	background:none;
	padding-top:0;
}

.container-fluid {
	padding: 0;
}

.page-titles .card {
	background:none;
	box-shadow: none;
	border-radius:0;
}

#container {

 > div:not(.modal) {
	 padding:30px !important;
 }

 #content > form, #content > div, #content > nav {

	 @include media-breakpoint-up(md) {
		 max-width: 70%;
		 margin: 0 auto;
	 }

 }

 .page-titles {
	 margin-bottom:20px;
 }

}


.search {
	position: relative;

	input.form-control {
		border-radius: 30px;
		padding-left: 15px;
		padding-right: 42px;
	}

	.btn {
		background:none;
		position: absolute;
		top:0;
		right:0;
		padding: 7px 15px;

		&:hover {
			cursor: pointer;
			i {
				color: $pink;
			}
		}
	}

}

.notes {

	input.form-control {
		border-radius: 30px;
	}

}

ul.list-group {

	&.no-border {

		.list-group-item {
			border-bottom:none;
		}

	}

	.list-group-item {
		padding-left:0;
		padding-right:0;
		padding-bottom:0;

		.btn {
			padding: 6px 13px;
		}

	}

	a {
		text-decoration: none;
	}

}

.card-body {

	.nav-link {
		padding-left: 0;
		padding-right: 0;
		color:$dark-blue;
		font-size: 1.1rem;

		i {
			font-size: 22px;
			margin-right: 9px;
			color:$pink;
			position: relative;
			top:2px;
		}
	}

}

.contact-details {
	margin-bottom:15px;

	ul {
		list-style: none;
		padding: 15px 0 0 0;

		li {
			margin-bottom: 8px;
		}
	}

}

#contact-accordion {

	.accordion-item {
		border:none;
		border-bottom:1px solid rgba(0, 0, 0, 0.125);
		border-radius: 0;

		.accordion-button {
			padding-left: 0;
			padding-right: 0;
			border-radius: 0;
		}

		.accordion-body {
			padding-left:0;
			padding-right:0;

			h6 {
				text-rendering: geometricprecision;
				font-weight: 600;
				margin-top: 0;
				font-size:0.9rem;
			}

		}

	}

}
