header {
  height: auto;
  width:100%;
  background-color:$dark-blue !important;
  color:white;
  text-align: center;
  padding:30px 0;

  h4 {
    font-weight:400;
    text-align: center;
    margin:0;
    font-size:1.2rem;
  }


  #logo {
    display: block;
  	margin: 0 auto 25px auto;
  	width: 130px;
  	height:39px;
  	@include background-vector(logo, contain);
  	overflow:hidden;
  	text-indent:-300px;
    position: relative;
    right: -7px;
  }

  .btn-close {
    position: absolute;
    top:20px;
    right:20px;
  }

}
